<mat-card class='regi-form'>

  <h2>Registration Form</h2>

  <form class='regi'>

    <mat-form-field class='field'>
      <input matInput placeholder='First Name'>
    </mat-form-field>

    <mat-form-field class='field'>
      <input matInput placeholder='Last Name'>
    </mat-form-field>

    <mat-form-field class='field'>
      <input matInput placeholder='Email'>
    </mat-form-field>

    <mat-form-field class='field'>
      <input matInput type='password' placeholder='Password'>
    </mat-form-field>

    <mat-form-field class='field'>
      <input matInput type='password' placeholder='Confirm Password'>
    </mat-form-field>

  </form>
</mat-card>