table {
  width: 100%;
  font-family: 'Merriweather Sans', sans-serif;
}
.center-ghost {
  text-align: center;
}
.search-field {
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
.table-container {
  margin: auto;
  max-width: 90%;
  margin-top: 50px;
}

th {
  font-size: 14px;
  color: maroon;
}

button {
  float: right;
  margin-right: 20px;
  color: white;
  background: maroon;
}

h3 {
  text-align: center;
  /* font-family: 'Merriweather', serif; */
  font-family: 'Merriweather Sans', sans-serif;
}
